$gery-0:#fff; //255
$gery-1:#fafafa;//250
$gery-2:#f5f5f5;//245
$gery-3:#e8e8e8;//232
$gery-4:#d9d9d9;//217
$gery-5:#bfbfbf;//191
$gery-6:#8c8c8c;//140
$gery-7:#595959;//89
$gery-8:#262626;//38
$gery-9:#000;//0
$gery-10:rgb(10,10,10);
$gery-15:rgb(15,15,15);
$gery-20:rgb(20,20,20);
$gery-25:rgb(25,25,25);
$gery-30:rgb(30,30,30);
$gery-35:rgb(35,35,35);
$gery-40:rgb(40,40,40);
$gery-45:rgb(45,45,45);
$gery-50:rgb(50,50,50);
$gery-55:rgb(55,55,55);
$gery-60:rgb(60,60,60);
$gery-65:rgb(65,65,65);
$gery-70:rgb(70,70,70);
$gery-75:rgb(75,75,75);
$gery-80:rgb(80,80,80);
$gery-85:rgb(85,85,85);
$gery-90:rgb(90,90,90);
$gery-95:rgb(95,95,95);
$gery-100:rgb(100,100,100);
$gery-105:rgb(105,105,105);
$gery-110:rgb(110,110,110);
$gery-115:rgb(115,115,115);
$gery-120:rgb(120,120,120);
$gery-125:rgb(125,125,125);
$gery-130:rgb(130,130,130);
$gery-135:rgb(135,135,135);
$gery-140:rgb(140,140,140);
$gery-145:rgb(145,145,145);
$gery-150:rgb(150,150,150);
$gery-155:rgb(155,155,155);
$gery-160:rgb(160,160,160);
$gery-165:rgb(165,165,165);
$gery-170:rgb(170,170,170);
$gery-175:rgb(175,175,175);
$gery-180:rgb(180,180,180);
$gery-185:rgb(185,185,185);
$gery-190:rgb(190,190,190);
$gery-195:rgb(195,195,195);
$gery-200:rgb(200,200,200);
$gery-205:rgb(205,205,205);
$gery-210:rgb(210,210,210);
$gery-215:rgb(215,215,215);
$gery-220:rgb(220,220,220);
$gery-225:rgb(225,225,225);
$gery-230:rgb(230,230,230);
$gery-235:rgb(235,235,235);
$gery-240:rgb(240,240,240);
$gery-245:rgb(245,245,245);
$gery-250:rgb(250,250,250);
$gery-255:rgb(255,255,255);