/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-stars-00 {
  background-image: url(./sprite.png);
  background-position: 0px -11px;
  width: 55px;
  height: 11px;
}
.icon-stars-05 {
  background-image: url(./sprite.png);
  background-position: -55px 0px;
  width: 55px;
  height: 11px;
}
.icon-stars-10 {
  background-image: url(./sprite.png);
  background-position: 0px -22px;
  width: 55px;
  height: 11px;
}
.icon-stars-15 {
  background-image: url(./sprite.png);
  background-position: 0px -33px;
  width: 55px;
  height: 11px;
}
.icon-stars-20 {
  background-image: url(./sprite.png);
  background-position: 0px -44px;
  width: 55px;
  height: 11px;
}
.icon-stars-25 {
  background-image: url(./sprite.png);
  background-position: 0px 0px;
  width: 55px;
  height: 11px;
}
.icon-stars-30 {
  background-image: url(./sprite.png);
  background-position: -55px -11px;
  width: 55px;
  height: 11px;
}
.icon-stars-35 {
  background-image: url(./sprite.png);
  background-position: -55px -22px;
  width: 55px;
  height: 11px;
}
.icon-stars-40 {
  background-image: url(./sprite.png);
  background-position: -55px -33px;
  width: 55px;
  height: 11px;
}
.icon-stars-45 {
  background-image: url(./sprite.png);
  background-position: -55px -44px;
  width: 55px;
  height: 11px;
}
.icon-stars-50 {
  background-image: url(./sprite.png);
  background-position: 0px -55px;
  width: 55px;
  height: 11px;
}
