<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">豆瓣API电影网</a>
    </div>

    <form class="HS  navbar-form navbar-left" role="search">
      <div class="input-group">

        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle  " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="HS-type-text">影片</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="HS-type-item">影片</a>
            </li>
            <li>
              <a class="HS-type-item">标签</a>
            </li>
          </ul>
        </div>
        <!-- /btn-group -->

        <input type="text" class="form-control" id="HS-input" placeholder="影片/明星/类型...">
        <span class="input-group-btn">
          <button class="btn btn-default  HS-search-btn" type="button">搜索</button>
        </span>
      </div>
      <!-- /input-group -->
    </form>
    <div class="navbar-text">提示：豆瓣API一分钟内请求超40次会暂时失效...</div>

  </div>
  <!-- /.container -->
</nav>